
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: #fc6d6d;
}

.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 45;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}


.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.table-row-cell{
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-cell-size: 35px;
}

.table-row-cell:odd{
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-cell-size: 35px;
}

.table-row-cell:selected {
    -fx-background-color: #fa3a3a;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-drag-header,
.tree-table-view .column-drag-header {
    -fx-background: #eeeeee;
    -fx-background-color: #fa3a3a;
    -fx-border-color: transparent;
    -fx-opacity: 0.6;
}

.table-view .column-resize-line {
    -fx-background-color: #fa3a3a;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #bdbdbd;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #bdbdbd;
}